@use "../../SASS/_breakpoints.scss" as media;

.ProductShowcase {
  display: flex;
  gap: 4rem;
  @include media.max(lg) {
    flex-direction: column;
  }
}
.ProductShowcase__right {
  width: 52%;
  @include media.max(lg) {
  width: 100%;
  }
  h1 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 1rem;
  }
  h2 {
    font-weight: 700;
    color: #a7a9ac;
    margin-top: 0.1rem;
  }
  h3 {
    font-size: 17px;
    font-weight: 700;
  }
  h4 {
    font-size: 15px;
    font-weight: 700;
    color: #575756;
  }
  h5 {
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
  }
  h6 {
    font-size: 18px;
    font-weight: 700;
  }
}
